.titulo
{
	color: white;
}

header nav div div a:hover
{
	cursor: pointer;
}

.modal-dialog
{
    width: 250px;
}

.modal-content{
    border-radius:0px;
    padding-right: 20px;
    padding-top: 20px;
}

.modal-header{
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 0px;
}

.form-control{
    border-radius: 0px;
}

.container-fluid
{
    margin-top: 9%;
}

/*Inicia Estilo Horarios*/
nav.nav
{
    margin-top: -100px;
}

ul.nav-tabs > li
{
    ;
}

ul.nav-tabs
{
    width: 750px;
    margin-left: 185px;
    margin-right: 0px;
    margin-bottom: 0px;
}

div.selectCarr
{
    margin-left: -10px;
    margin-right: 35px; 
}

div.canvasHor
{
    margin-top: 0px;
    margin-left: -20px;
}

.show-grid
{
    text-align: center;
    border-radius: 3px;
    
}

div.horario
{
    margin-left: 40px;
}

div.horario .col-md-1
{
    width: 107px;
    border: 1px solid #BDF2DF;
    line-height: 25px;
    padding: 0px;
}

div.EE span.info
{
    padding: 0px;
    font-size: 0.7em;
    vertical-align: middle;
}

div.EEdispo
{
    margin-right: 30px;
}

div.EE div.alto2
{
    height: 35px;
    width: 105px;
    padding: 0px;
    cursor: move;
    border: 1px solid #BDF2DF;
    font-size: 0.8em;
    vertical-align: middle;
}

div.EE div.alto2 span.glyphicon
{
    right: -45px;
    top: -5px;
    color:  #F2E2CE;
    cursor: pointer;
}

div.EE div.alto2 p.nombre
{
    margin-top: -20px;
}

div.EE div.row
{
    margin-right: -100px; 
}

div.alto
{
    height: 38px;
    padding: 0px;
}

.color1
{
    background-color: #A0D9C4;
}

.color4
{
    background-color: #F2E2CE;
}

.color5
{
    background-color: #F2C6AC;
}
/*Termina Estilo Horarios*/

.my-fluid-container 
{

  padding-left: 15px;

  padding-right: 15px;

  margin-left: auto;

  margin-right: auto;

}

